* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.header {
  overflow: hidden;
  width: 100%;
  height: 7rem;
  text-align: center;
  background-color: #191d1d;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.input {
  font-size: 1.4rem;
  text-align: left;
}

.input-button {
  font-size: 1.4rem;
  text-align: left;
}

.flex-row {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
}

.movie-image {
  float: left;
  width: 20rem;
  height: 30rem;
  position: relative;
}

.container {
  width: 100%;
}

.details {
  text-align: center;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: auto;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

@media screen and (max-width: 767px) {
  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.center-content {
  text-align: center;
}
